*
!.gitignore
!Windows_Start.exe
!README.txt
!Linux_Start.sh
!._Mac_Start.app
!Mac_Start.app/
!Mac_start.app/*
!launcher/
!launcher/*
!data/
!data/.minecraft/
!data/.minecraft/launcher.jar
!data/.minecraft/launcher.pack.lzma
!data/.minecraft/launcher_profiles_distribute.json
!data/.minecraft/versions/
!data/.minecraft/versions/*
!data/.minecraft/versions/.gitignore
!data/.minecraft/libraries/
!data/.minecraft/libraries/*
!data/.minecraft/libraries/.gitignore
!data/.minecraft/config/
!data/.minecraft/config/*
!data/.minecraft/config/.gitignore
!data/.minecraft/mods/
!data/.minecraft/mods/*
!data/.minecraft/mods/.gitignore
!data/.minecraft/scripts/
!data/.minecraft/scripts/*
!data/.minecraft/scripts/.gitignore
