*
!.gitignore
!launcher.jar
!launcher.pack.lzma
!launcher_profiles_distribute.json
!options.txt
!versions/
!versions/*
!versions/.gitignore
!libraries/
!libraries/*
!libraries/.gitignore
!config/
!config/*
!config/.gitignore
!mods/
!mods/*
!mods/.gitignore
!scripts/
!scripts/*
!scripts/.gitignore
!mystcraft/
!mystcraft/*
!mystcraft/.gitignore
!journeymap/
!journeymap/*
!journeymap/.gitignore
