*
!.gitignore
!.gitmodules
!Windows_Start.exe
!Windows_Start.bat
!README.md
!Linux_Start.sh
!Mac_Start.app/
!Mac_Start.app/*
!Mac_Start.app/.gitignore
!launcher/
!launcher/*
!data/
!data/.minecraft/
!data/.minecraft/launcher.jar
!data/.minecraft/launcher.pack.lzma
!data/.minecraft/launcher_profiles_distribute.json
!data/.minecraft/options.txt
!data/.minecraft/versions/
!data/.minecraft/versions/*
!data/.minecraft/versions/.gitignore
!data/.minecraft/libraries/
!data/.minecraft/libraries/*
!data/.minecraft/libraries/.gitignore
!data/.minecraft/config/
!data/.minecraft/config/*
!data/.minecraft/config/.gitignore
!data/.minecraft/mods/
!data/.minecraft/mods/*
!data/.minecraft/mods/.gitignore
!data/.minecraft/scripts/
!data/.minecraft/scripts/*
!data/.minecraft/scripts/.gitignore
!data/.minecraft/mystcraft/
!data/.minecraft/mystcraft/*
!data/.minecraft/mystcraft/.gitignore
!data/.minecraft/journeymap/
!data/.minecraft/journeymap/*
!data/.minecraft/journeymap/.gitignore
!data/.minecraft/resources/
!data/.minecraft/resources/*
!data/.minecraft/resources/.gitignore
